$color-blue-dark: #0b1a3d;
$color-blue: #1a53e8;

$color-white: #ffffff;
$color-grey: #858585;
$color-grey-2: #a0a0a0;
$color-grey-3: #f6f7fb;
$color-grey-light: #f8f6f6;
$color-grey-dark: #555555;

$color-black: #313131;

$color-error: #ff5555;

$color-info: #cee9fd;
$color-warning: #fde9cc;
$color-success: #ccf3ee;
$color-error: #fed6d5;

$grid-width: 90vw;
$gutter-vertical: 2rem;
$gutter-vertical-sm: 1rem;
$gutter-horizontal: 2rem;
$gutter-horizontal-sm: 1rem;

.margin-bottom-xl {
  margin-bottom: 6rem;
}
.margin-bottom-lg {
  margin-bottom: 3rem;
}
.margin-bottom-md {
  margin-bottom: 1.2rem;
}
.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-top-xl {
  margin-top: 6rem;
}
.margin-top-lg {
  margin-top: 3rem;
}
.margin-top-md {
  margin-top: 1.2rem;
}
.margin-top-sm {
  margin-top: 0.5rem;
}
