.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: $color-white;
  .navbar_brand {
    font-size: 2rem;
    z-index: 50;

    span {
      color: $color-blue;
    }
  }

  .navbar_right {
    ul {
      list-style-type: none;
    }

    li a {
      text-decoration: none;
      color: $color-black;
    }
    .navbar_links {
      display: flex;
      align-items: center;
      background-color: $color-white;

      @include respond(tab-port) {
        padding-bottom: 1rem;
        visibility: hidden;
      }

      .admin_switch {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(tab-port) {
          margin-bottom: 1rem;
        }
      }

      .navbar_link:not(.navbar_button) {
        padding: 0.5rem 1.5rem;
        font-weight: 500;
        border-radius: 50px;

        @include respond(tab-port) {
          margin-bottom: 0.8rem;
        }

        &:hover {
          background-color: $color-grey-light;
        }
      }

      .navbar_button {
        padding-left: 1rem;
      }

      .auth_button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 300px;

        .name_field {
          font-weight: bold;
          margin-right: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          span {
            font-size: 1.2rem;
            margin-right: 0.4rem;
            position: relative;
            top: 5px;
          }
        }

        .logout_icon {
          font-size: 1.2rem;
          position: relative;
          top: 2px;
          margin-left: 0.3rem;
        }

        .logout_btn {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          outline: none;
          border: none;
          background: transparent;
          padding: 0.5rem 1rem;
          cursor: pointer;

          &:hover {
            background-color: $color-grey-light;
            border-radius: 50px;
          }
        }

        @include respond(tab-port) {
          justify-content: center;
          padding-left: 0;
        }
      }

      @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        left: 0;
        top: 30px;
      }
    }

    .toggle_navbar {
      @include respond(tab-port) {
        visibility: visible;
      }
    }
  }

  //responsive toggle
  .navbar_toggle {
    visibility: hidden;
    display: none;
    width: 25px;
    height: 20px;

    input {
      display: none;
    }

    input:checked + label {
      .navbar_toggle-switch:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%) rotate(45deg);
      }
      .navbar_toggle-switch:nth-child(2) {
        display: none;
      }
      .navbar_toggle-switch:nth-child(3) {
        position: absolute;
        bottom: 50%;
        transform: translate(0, 50%) rotate(-45deg);
      }
    }

    label {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;
    }

    &-switch {
      width: 100%;
      height: 2px;
      background-color: $color-blue;
      transition: all 0.2s ease-in-out;
    }

    @include respond(tab-port) {
      visibility: visible;
      display: flex;
      position: relative;
      z-index: 50;
    }
  }
}
